.DS_Store
projeto/cliente.c
projeto/servidor.c
prova_exercicios/antigo/*
prova_exercicios/ex_03_jun/*
prova_exercicios/ava_10_jun/main.exe
prova_exercicios/ava_10_jun/main.o
prova_exercicios/ava_10_jun/MinhaBiblioteca.o
.vscode/*